.drop-area {
    border: dashed #ccc;
    border-radius: 20px;
    width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;

    & p {
        margin-bottom: 30px;
    }

    &-button {
        padding: 10px;
        background: #ccc;
        cursor: pointer;
        border-radius: 5px;
    }

    & #lbl-foto {
        display: none;
    }

    &-image img {
        width: 50%;
        margin: auto;
        vertical-align: middle;
    }
}