table.tabla-alta {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border-radius: 5px;
    margin: 0;

    @media (max-width: 991px) {
        min-width: 600px; // Scroll horizontal en dispositivos pequeños
    }

    @media (min-width: 992px) {
        width: 100% !important; // Forzamos ancho completo
        table-layout: auto; // Permite que las celdas se expandan

        th,
        td {
            padding: 12px 15px;
        }
    }

    .columnas-ocultas {
        display: none;

        @media (min-width: 1300px) {
            display: table-cell;
        }
    }

    // Detalles: más espacio para el texto
    td:nth-child(6) {
        min-width: 250px;
        max-width: 350px;
    }

    /* Nombre */
    td:nth-child(1) {
        min-width: 150px;
    }

    /* Precio */
    td:nth-child(2) {
        min-width: 80px;
    }

    /* Stock */
    td:nth-child(3) {
        min-width: 80px;
    }

    /* Foto */
    td:nth-child(7) {
        min-width: 100px;
    }
}

th,
td {
    padding: 10px 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(240, 199, 243);
    position: sticky;
    top: 0;
}

img {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.tabla-grande-container {
    @media (min-width: 992px) {
        width: 100%;
        margin: 0 auto;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-contenido {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    text-align: center;
  }
  
  .modal-contenido img {
    max-width: 100%;
    margin-top: 1rem;
  }
  