.tabla-container {
    width: 100%;
    margin: auto;
}

th,
td {
    padding: 5px 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td {
    width: min-content;
}

th {
    background-color: rgb(240, 199, 243);
    position: sticky;
    top: 0;
}

img {
    width: 80px;
    height: auto;
}

.tabla-alta {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border-radius: 5px;
    margin: 0;

    .columnas-ocultas1 {
        display: none;

        @media (min-width: 936px) {
            display: table-cell;
            width: min-content;
            padding: 0;
        }
    }

    .columnas-ocultas2 {
        display: none;

        @media (min-width: 1200px) {
            display: table-cell;
        }
    }

    // Detalles: más espacio para el texto
    td:nth-child(6) {
        min-width: 250px;
        max-width: 350px;
    }

    /* Nombre */
    td:nth-child(1) {
        min-width: 80px;
    }

    /* Precio */
    td:nth-child(2) {
        min-width: 80px;
    }

    /* Stock */
    td:nth-child(3) {
        min-width: 20px;
    }

    /* Foto */
    td:nth-child(7) {
        width: min-content;
    }
}