.contenedor {
    width: 90%;
    padding-top: 4rem;
    box-sizing: border-box;
    margin: auto;

    h2 {
        justify-self: center;
        font-family: "Charm", serif;
        font-weight: bold;
        font-size: 50px;
        letter-spacing: 5px;
        color: rgba(0, 0, 0, 0.6);
    }

    @media screen and (min-width: 616px) {
        padding-top: 4rem;
    }

    @media screen and (min-width: 1200px) {
        max-width: 80vw;
        margin: auto;
    }
}

.tabla-responsive-container {
    // max-width: 100%;
    // margin: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    // border-radius: 5px;

    // @media (min-width: 1200px) {
    //     max-width: 100%;
    //     margin: auto;
    // }
}