main {
    padding-top: 3.5rem;

    @media screen and (min-width: 616px) {
        padding-top: 5rem;
    }
    
    @media screen and (min-width: 936px) {
        padding-top: 3.5rem;
    }
}

.section-cards {
    display: flex;
    font-size: small;
    background: none;

    &__header {
        width: 100%;
    }

    &__header h1 {
        justify-self: center;
        font-family: "Charm", serif;
        font-size: 80px;
        letter-spacing: 5px;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 10px;
    }
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}