.section-cards {
    display: flex;
    font-size: small;
    background: none;

    &__header {
        width: 100%;
    }

    &__header p {
        visibility: hidden;
    }

    &__header h1 {
        justify-self: center;

        font-family: "Charm", serif;
        font-weight: bold;
        font-size: 80px;
        letter-spacing: 10px;
        color: #ffffff;

        margin-bottom: 10px;
    }
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}