@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'); // Logos redes sociales

.nosotros-container {
  width: 90%;
  padding-top: 4rem;
  box-sizing: border-box;
  margin: auto;

  @media (min-width: 616px) {
    padding-top: 6rem;
  }

  @media (min-width: 768px) {
    padding-top: 4rem;
  }
}

.nosotros-main h2 {

  justify-self: center;
  font-family: "Charm", serif;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.6);
}


.nosotros-historia {
  flex: 1;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  p {
    margin-bottom: 1rem;
    line-height: 1.6;
    text-align: justify;
  }
}

.nosotros-imagen {
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;

  img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }
  }
}