/* ----------------------------------------------- */
/* HEADER                                          */
/* ----------------------------------------------- */
/* MOBILE FIRST */
.main-header {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: 992px) {
        & {
            flex-direction: column;
        }
    }
}

#menu {
    display: none;

    /* Hacer funcionar el checkbox -> Hacer funcionar el menú hamburgüesa */

    &:checked + .nav-bar {
        display: block;
    }
}

/* ----------------------------------------------- */
/* MENÚ TOOGLE                                     */
/* ----------------------------------------------- */

.menu-toogle {
    display: block;

    flex: 0 0 3rem;
    position: relative;
    cursor: pointer; /* manito */

    &__label { /* .menu-toogle__label */
        display: block;
        background-color: #fefefe;
        height: 100%;
    }

    &__top-bread, /* .menu-toogle__top-bread */
    &__meat, /* .menu-toogle__top-bread */
    &__bottom-bread { /* .menu-toogle__top-bread */
        displaY: block;
        background-color: #d193cb;
        height: .4rem;
        position: absolute;
        left: .5rem;
        right: .5rem;
    }

    &__top-bread {
        top: .8rem;
    }

    &__meat { /* Centrar sin usar flexbox */
        top: 50%; /* centrando verticalmente */
        margin-top: -.2rem;
    }

    &__bottom-bread {
        bottom: .8rem;
    }

    @media screen and (min-width: 992px) {
        & {
            display: none; /* oculta el menú */
        }        
    }

}