footer {
    font-size: .8rem;
    text-align: center;
    color: #fefefe;

    width: 100%;
    margin-top: auto;
    padding: .5rem;

    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    @media screen and (min-width: 616px) {
        display: flex;
        justify-content: space-around;

        hr {
            display: none;
        }        
    }

}