.nav-bar {
    display: none;

    &__nav-list {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;

        @media screen and (min-width: 616px) {
            display: flex;
        }
    }

    &__nav-item {
        text-align: center;
        width: 100%;
    }

    &__nav-link {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 2px;
            background-color: rgb(201, 134, 221);
            transition: width 0.3s ease-in-out;
        }

        &:hover::after {
            width: 100%;
        }

        display: block;
        color: #fff;
        padding: .9rem;
        font-weight: bold;
        text-decoration: none;
    }

    @media screen and (min-width: 616px) {
        display: block;
        height: min-content;
    }

    @media screen and (min-width: 936px) {
        display: none;
    }
}